* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #aea4b1;
    background-image: linear-gradient(270deg, #aea4b1 0%, #97D9E1 50%, #ffffff 100%);
}

.container {
    position: relative;
    width: 400px;
    background: #03a9f4cf;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 23px;
}

.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}

.form h2:hover:before {
    width: 53px;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    background-position: 0.1px;
    outline: none;
    border: none;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input::placeholder {
    color: #fff;
}

.forget {
    margin-top: 6px;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 1px;
}

.tip{
    margin-left: 46px;
}

p{
    float: left;
    font-size: 1px;
}

a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1px;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: orange;
}

.butt{
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    background-position: 0.1px;
    outline: none;
    border: none;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    background: #ffffffb5;
    color: #666;
    max-width: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}

.butt:hover{
    background: lightgray;
}